
#title{
    padding: 20px;
}
h2 {
    color: yellow;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 2em;
}

h3 {
    display: flex;
    justify-content: center; 
    align-items: center;     
    font-size: 150%;        
    color: yellow;           
    width: 50%;              
    margin: auto;             
    text-align: center;       
    letter-spacing: clamp(1px, 3vw, 10vw); 
    
}


.slideshow_container {
    width: 80vw;
    height: 70vh;
    min-height: 20vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    border: 2px solid black;
    margin-bottom: 2em;
    padding-top: 2em;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(79, 0, 182, 0.7), 0 0 30px rgba(16, 0, 46, 0.7);
}

.slideshow_container ul {
    display: flex;
    padding: 0;
    margin: 0;
    animation-name: slideshow;
    animation-timing-function: ease-in-out;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    max-width: 400%;
}

.slideshow_container ul li {
    flex: 0 0 100%;
    list-style: none;
    height: 100%;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width:100%;
    width: 100%;
    height: 100%;
    
}

.slide img {
    width: 100%;
    max-width: 80vw;
    height: auto;
    max-height: 60vh;
    object-fit: contain;
    padding-left: 3em;
    padding-right: 3em;
}

@keyframes slideshow {
    0% { transform: translateX(0%); }        
    20% { transform: translateX(-100%); }        
    40% { transform: translateX(-200%); }      
    60% { transform: translateX(-300%); }      
    80% { transform: translateX(-400%); }        
    100% { transform: translateX(-500%); }            
}

/* media Queries */
@media (max-width: 550px ) {
    .slideshow_container{
        height: fit-content;
        align-items: center;
    }
    h3{
        font-size: 100%;
    }
}
